.App {
  width: 60%;
  height: 75vh;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 8px;
  border: 1px solid #d3cdcd;
  box-shadow:  2px 4px 4px 0px #a8a2a2;
}



@media only screen and (max-width: 768px) {
  .App {
    width: 95%;
    height: 95vh;
  }
}

